html {
    height: 100%;
}

body {
    background-color: #cbcaca;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif!important;
}

.head {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

#content {
    padding: 20px;
}

.brand-group {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
}

.brand_title {
    border-bottom: 1px solid #cbcaca;
    padding-bottom: 20px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.collapsed {
    display: none;
}

.collapsed-title {
    border-bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.brand_table {
    margin-top: 25px;
    width: 100%;
}

.table_head {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse
}

td {
    padding: 5px;
}

tr:nth-child(2n+1) {
    background-color: #cbcaca;
}

.title {
    width: 70%;
}

.price {
    width: 15%;
}

#buy {
    cursor: pointer;
}

#buy-on {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

#total-price {
    color: #28a745;
    font-weight: 500;
    margin-right: 5px;
}

.fixed-container {
    position: fixed;
    right: 0;
    top: 0;
    height: 61px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: white;
}

#price-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: none;
    box-shadow: 0 0 10px 1px #cbcaca
}

#popup_top {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 10px 0;
    margin-bottom: 10px;
}

.show-pp {
    display: block !important;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 15px;
}

.add_minus {
    user-select: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #6c757d;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.add_count {
    margin: 0 10px;
}

.add_plus {
    user-select: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #6c757d;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.warning {
    display: flex;
    align-items: center;
    padding: 5px;
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}

.mr-2 {
    margin-right: 5px;
}

.sber {
    padding: 5px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

/*#dc3545*/

.popup-table-title {
    width: 65%;
}

.popup-table-price {
    width: 20%;
}

.popup-table-counter {
    width: 25%;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.popup-input {
    border: 1px solid #cbcaca;
    height: 25px;
    font-size: 17px;
    width: 240px;
    outline: none;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif!important;
}

.button {
    padding: 10px;
    border-radius: 5px;
    display: inline;
    cursor: pointer;
}

#button-add {
    background-color: #6c757d;
    color: white;
}

.button-collapse {
    background-color: white;
    border: 1px solid #6c757d;
    color: #6c757d;
}

#button-copy {
    background-color: #28a745;
    color: white;
}

.delivery {
    cursor: pointer;
    margin-bottom: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

#popup_top_count {
    font-weight: 500;
    color: #6c757d;
}

#popup_top_total-price {
    font-weight: 500;
    color: #28a745;
}

.tutorial {
    background-color: white;
    padding: 20px;
    color: #6c757d;
    margin: 10px 20px 0 20px;
}

footer {
    position: relative;
    text-align: center;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #007bff;
}

.ugame {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

#document-time {
    margin-left: 10px;
    display: inline-block;
}

.ghost-cursor {
    width: 10px;
    height: 10px;
    background-color: #007bff;
    opacity: 0.5;
}
